<template name="newCollab">

  <form id="newCollab">
    <div class="newCollab step-1">
      <input type="text" name="title" placeholder="Our Awesome Project">
      <input type="text" name="tags" placeholder="music,video,painting,app,...">
    </div>
    <div class="newCollab step-2">
      <div class="choice selectTeam">
        <h3>Have a Team?</h3>
        <a href="#" class="addTeam">Add Them!</a>
      </div>
      <div class="choice findTeam">
        <h3>Want a Team?</h3>
        <a href="#" class="postForTeam">Ask for Help!</a>
      </div>
    </div>
    <div class="newCollab step-3">
      <h3>Let's GO!</h3>
      <input type="submit" value="Dashboard">
    </div>
  </form>

</template>