// If you want to override materialize sass variables you can uncomment the following:
@import "{poetic:materialize-scss}/bower_components/materialize/sass/components/_color.scss";
$primary-color: #3F51B5;
$primary-dark: #303F9F;
$primary-light: #C5CAE9;
$accent: #FF5252;
$text-primary: #212121;
$text-secondary: #727272;
$divider: #B6B6B6;

// import main scss file
@import "{poetic:materialize-scss}/bower_components/materialize/sass/materialize.scss";


/*==============================
=            MIXINS            =
==============================*/

@mixin box_shadow ($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}


/*=====  End of MIXINS  ======*/




.formWrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8);
}
.inputForm {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  background: $primary-color;
  border-radius: 2px;
  color: #fff;

  .submit {
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 0.5em;
    color: #fff;
    background: rgba(0,0,0,0);
    font-weight: 300;
  }
}

.newCollab {
  padding: 1em 0;
}

.step-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1em;
  }

  .choice {
    background: #fff;
    color: $text-primary;
    border-radius: 4px;
    padding: 2em 0.75em;
    @include box_shadow(2);
  }
}

